<form (ngSubmit)="onSubmit()">

  <div class="loginContainer">
    <label class="labelName">Email</label>
    <input class="loginInput" type="text" placeholder="Enter email" name="email" [(ngModel)]="form.email" required>

    <label class="labelName">Password</label>
    <input class="loginInput" type="password" placeholder="Enter password" name="psw" [(ngModel)]="form.password" required>
    <button type="submit">Login</button>

    <label class="labelName">
      Need account?
      <a routerLink="/register"> Register</a>
    </label>
  </div>
</form>


