<form >

  <div class="loginContainer">
    <label class="labelName">Email</label>
    <input type="text" placeholder="Enter email" name="email" required>

    <label class="labelName">Password</label>
    <input type="password" placeholder="Enter password" name="psw" required>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <label>
    <a routerLink="/images" class="psw">Forgot password?</a>
    </label>
    <button type="submit">Login</button>

    <label class="labelName">
      Need account?
      <a routerLink="/register"> Register</a>
    </label>
  </div>
</form>


