@import "src/styles/styles.scss";

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $fillColor;
  display: flex;
  align-items: center;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

input {
  margin: auto;
  display: block;
  width: 30%;
}

.login, .home {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
