@import "src/styles/styles.scss";

.nav {
  width: 100%;
  background-color: $fillColor;
  display: flex;
  align-items: center;
  height: 64px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.login, .home, .upload {
  color: white;
}

.home {
  margin-left: 20px;
}

.login {
  margin-left: auto;
  margin-right: 20px;
  float: right;
}

.upload {
  margin-left: 5%;
}
