<form>
  <div class="loginContainer">
    <label class="labelName">Email</label>
    <input type="text" placeholder="Enter email" name="email" required>

    <label class="labelName">Name</label>
    <input type="text" placeholder="Enter name" name="name" required>

    <label class="labelName">Password</label>
    <input type="password" placeholder="Enter password" name="psw" required>

    <label class="labelName">Repeat password</label>
    <input type="password" placeholder="Repeat password" name="psw2" required>

    <button type="submit">Register</button>
  </div>
</form>
